name: Deploy

on:
  push:
    branches: [ master ]
jobs:
  deploy:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Install dependency
        uses: borales/actions-yarn@v2.0.0
        with:
          cmd: install
      - name: Application Build
        uses: borales/actions-yarn@v2.0.0
        with:
          command: build
      - name: Deploy to Server
        uses: appleboy/scp-action@master
        env:
          HOST: ${{ secrets.REMOTE_HOST }}
          USERNAME: ${{ secrets.REMOTE_USER }}
          KEY: ${{ secrets.SERVER_SSH_KEY }}
        with:
          source: "dist/*"
          target: ${{ secrets.REMOTE_TARGET }}
